body {
  background: #eee;
  font-family: sans-serif;
  margin: 8px;
}

.card {
  width: 500px;
  background: #fff;
  margin: 8px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  font-size: 16px;
 margin-top: 5px;
  
}

.content {
  background: #e3f4ff;
  padding: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  margin: 9px auto;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin-left: 175px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 1px;
}